:root{
  --black:#000000;
  --blue:#14213D;
  --gold:#FCA311;
  --grey:#E5E5E5;
  --white:#FFFFFF;

}

canvas {
  position: fixed;
  top: 0%;
  left: 0%;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

main > h1{
    
    color:var(--grey);
    grid-column-start: 10;
    grid-column-end: 12;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
}